BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "i2c1_scl" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i2c1_sda" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rst" IO_TYPE=LVCMOS33 ;
IOBUF PORT "heart_beat" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=SLOW ;
LOCATE COMP "heart_beat" SITE "6" ;
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 ;
LOCATE COMP "rst_n" SITE "42" ;
LOCATE COMP "sda" SITE "125" ;
LOCATE COMP "scl" SITE "126" ;
IOBUF PORT "scl" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW ;
IOBUF PORT "sda" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW ;
