#
# Logical Preferences generated for Lattice by Synplify maplat, Build 1796R.
#

# Period Constraints 
#FREQUENCY NET "sys_clk" 133.0 MHz;
#FREQUENCY PORT "usb_osc" 1.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "usb_osc_c" TO CLKNET "sys_clk";
#BLOCK PATH FROM CLKNET "sys_clk" TO CLKNET "usb_osc_c";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
